<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PlayBack_to_Text.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PlayBack_to_Text.My.MySettings>
            <setting name="JSONPath" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TimerInterval" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="firstrun" serializeAs="String">
                <value>True</value>
            </setting>
        </PlayBack_to_Text.My.MySettings>
    </userSettings>
</configuration>